/* styling the header */
header {
    color: black;
    background-color: #0ac3f1d0;
    position: absolute;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    padding: 20px;

}
nav{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    margin-right: 1px;
    margin-top: 60px;
    clear: both;
}
nav>a{
    color: black;
    padding-left: 60px;
    margin-left: 240px;
    text-transform: none;
    text-decoration: none;
    font: bolder;
    clear: both;
} 
nav>a:hover {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
    clear: both;
}
/* end of styling the header */
/* styling the first image */
.pic1{
    text-decoration: none;
    margin-top: 150px;
  background-size: cover;
   padding-top: 100px;
   background-image: url("./images/kamil-s-13W6AqIKV_I-unsplash.jpg");
}
h1{
    color: white;
    padding-bottom: 150px;
    padding-left: 50px;
    text-decoration: none;
}
/* end of styling the first image */
/* styling the second pic */
.pic2{
    background-image: url("./images/felipe-vieira-vAulBEZf9Nc-unsplash.jpg");
    background-size: cover;
    padding: 100px;
    padding-left: 0px;
    padding-bottom: 10px;
}
/* end of styling the second image */
/* styling the third pic */
.pic3{
    background-image: url("./images/lucas-santos-wdg8yu362gQ-unsplash.jpg");
    background-size: contain;
    padding: 100px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top: 19px;
    text-decoration: none;
    text-transform: none;
}
/* end of styling the third image */

